# Ejercicio 1: Transformar cadenas

 text = `` "text = \"\"\"Interesting facts about the Moon. The Moon is Earth's only satellite. There are several interesting facts about the Moon and how it affects life here on Earth. \n",
        "On average, the Moon moves 4cm away from the Earth every year. This yearly drift is not significant enough to cause immediate effects on Earth. The highest daylight temperature of the Moon is 127 C.\"\"\"" ``


##### Primero, divide el texto en cada oración para trabajar con su contenido:

In [37]:


text = """Interesting facts about the Moon. The Moon is Earth's only satellite. There are several interesting facts about the Moon and how it affects life here on Earth. On average, the Moon moves 4cm away from the Earth every year. This yearly drift is not significant enough to cause immediate effects on Earth. The highest daylight temperature of the Moon is 127 C."""
text_split = text.split(". ")
text_split

['Interesting facts about the Moon',
 "The Moon is Earth's only satellite",
 'There are several interesting facts about the Moon and how it affects life here on Earth',
 'On average, the Moon moves 4cm away from the Earth every year',
 'This yearly drift is not significant enough to cause immediate effects on Earth',
 'The highest daylight temperature of the Moon is 127 C.']

##### Ahora, define algunas palabras clave para búsqueda que te ayudarán a determinar si una oración contiene un hecho.

In [36]:
text_clave= ["average", "temperature", "distance"]

##### Cre un bucle para imprimir solo datos sobre la Luna que estén relacionados con las palabras clave definidas anteriormente:

In [33]:
text_claves = ["average", "temperature", "distance"]
text_split = text.split(".")

for cadena in text_split:
    for text_clave in text_claves:
        if text_clave in cadena:
            print(cadena)
            break

 On average, the Moon moves 4cm away from the Earth every year
 The highest daylight temperature of the Moon is 127 C

##### Finalmente, actualiza el bucle(ciclo) para cambiar C a Celsius:

In [35]:
text_claves = ["average", "temperature", "distance"]
text_split = text.split(".")


for cadena in text_split:
    for text_clave in text_claves:
        if text_clave in cadena:
            print(cadena.replace("C", "Celsius"))
            break

 On average, the Moon moves 4cm away from the Earth every year
 The highest daylight temperature of the Moon is 127 Celsius

# Ejercicio 2: Formateando Cadenas

En lugar de reemplazar las variables en una cadena larga como parte de un párrafo, utiliza la información para presentarla en un formato tabular. El resultado debería verse así:

#### Gravity Facts about Ganymede

* Planet Name: Mars
* Gravity on Ganymede: 1.4300000000000002 m/s2

In [38]:
# Datos con los que vas a trabajar
name = "Moon"
gravity = 0.00162  # in kms
planet = "Earth"

##### Primero, crea un título para el texto. Debido a que este texto trata sobre la gravedad en la Tierra y la Luna, úsalo para crear un título significativo. Utiliza las variables en lugar de escribir.

In [47]:
name = "Moon"
gravity = 0.00162  # in kms
planet = "Earth"

title = f"datos de gravedad sobre la {name} y la {planet} "

print(title.title())

Datos De Gravedad Sobre La Moon Y La Earth

##### Ahora crea una plantilla de cadena multilínea para contener el resto de la información. En lugar de usar kilómetros, debes convertir la distancia a metros multiplicando por 1,000.

In [55]:
name = "Moon"
gravity = 0.00162  # in kms
planet = "Earth"

title = f"datos de gravedad sobre la {name} y la {planet} "

print(title.title())

fact = f"""{'-'*45} 
Nombre del planeta: {planet} 
Gravedad en {name}: {gravity * 1000} m/s2 
"""

print(fact)

Datos De Gravedad Sobre La Moon Y La Earth
---------------------------------------------
Nombre del planeta: Earth
Gravedad en Moon: 1.6199999999999999 m/s2

#### Ahora usa información de una luna diferente para ver si la plantilla todavía funciona.

In [62]:
anothermoon = "Ganímedes"
anothergravity = 0.00143  # in kms
anotherplanet = "Marte"

title = f"datos de gravedad sobre la {anothermoon} y la {anotherplanet} "

print(title.title())

fact = f"""{'-'*45} 
Nombre del planeta: {anotherplanet} 
Gravedad en {anothermoon}: {anothergravity * 1000} m/s2 
"""

print(fact)

Datos De Gravedad Sobre La Ganímedes Y La Marte
---------------------------------------------
Nombre del planeta: Marte
Gravedad en Ganímedes: 1.4300000000000002 m/s2